<h1 id="tableLabel">Books</h1>

<p *ngIf="!books"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="books">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of books">
      <td>{{ s.title }}</td>
      <td>{{ s.author }}</td>
      <td>{{s.notes}}</td>
    </tr>
  </tbody>
</table>
<div *ngFor="let b of books">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{b.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{b.author}}</h6>
      <p class="card-text">{{b.notes}}</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
Title
<input [(ngModel)]="newBook.title" name="title" />
Author
<input [(ngModel)]="newBook.author" name="author" />
Notes
<input [(ngModel)]="newBook.notes" name="notes" />
<button (click)="save()">Save</button>