<h1>Hello, world!</h1>
<p>What I added to this Capstone Starter:</p>
<ul>
  <li>Books!!</li>
  <li>You can add a new book to your booklist!!</li>
  <li>With NoTeS!</li>
</ul>
<p>Mistakes I made:</p>
<ul>
  <li>At first had a separate model for Author, with navigations properties to Book and vice versa</li>
  <li>Had lots of angry messages about needing to specify <code>.HasNoKey()</code></li>
  <li>Deleted the db and migrations, still got message!!</li>
  <li>Removed navigation properties from Book, removed Author DbSet, did the above again. Still angry</li>
  <li>Long story short, turned out to be some issue with seeding data :\</li>
</ul>
<p>Question: How do you <code>[HttpDelete]</code>?</p>
